# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Update Leetcode status

on:
  schedule:
    - cron: '0 20 * * *'
    
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Run LC tool
        env: 
          LCTOOL_LEETCODE_USERNAME: ${{ secrets.LCTOOL_LEETCODE_USERNAME }}
          LCTOOL_LEETCODE_PASSWORD: ${{ secrets.LCTOOL_LEETCODE_PASSWORD }}
        run: |
          wget -O lc-tool.tar.gz `curl -s https://api.github.com/repos/eindex/leetcode-spider-go/releases/latest | jq -r '.assets[] | select(.browser_download_url | contains("linux-amd64")) | .browser_download_url' | grep -v md5`
          tar -zxvf lc-tool.tar.gz
          ./lc-tool
